* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 400px;
  height: 600px;
  overflow: hidden;
}

iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}
